        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
         :root {
            --text-color: #1E1E1E;
            --text-color2: #2A2A2A;
            --text-color3: #444040;
            --btnHoverColor: #F5F5F5;
            --sliderBtnColor: #03C974;
            --blue: #20118E;
            scroll-behavior: smooth;
            box-sizing: border-box;
        }
        
        body {
            background-color: var(--btnHoverColor);
        }
        
        body::-webkit-scrollbar {
            width: 11px;
        }
        
        body {
            scrollbar-width: thin;
            scrollbar-color: #fff;
        }
        
        body::-webkit-scrollbar-track {
            background: #ffff;
        }
        
        body::-webkit-scrollbar-thumb {
            background-color: var(--blue);
            border-radius: 6px;
            border: 3px solid #ffff;
        }
        
        header nav {
            z-index: 100;
        }
        
        nav ul li a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: var(--text-color);
        }
        
        nav .lg button {
            background-color: #ffff;
            color: var(--text-color2);
            padding: 3px;
            border: 1px solid var(--text-color2);
            border-radius: 5px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            transition: all .3s ease;
        }
        
        nav .lg button:nth-child(2) {
            margin: 0 10px;
        }
        
        nav .lg button:hover {
            background-color: var(--text-color2);
            color: var(--btnHoverColor);
        }
        
        nav .lg button.active {
            background-color: var(--text-color2);
            color: var(--btnHoverColor);
        }
        /*carousel*/
        
        .relative {
            width: 100%;
            height: 100vh;
            background-image: url(../img/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: #ffff;
            position: relative;
            z-index: 1;
            padding-top: 25px;
        }
        
        #controls-carousel .head-text-img {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0 55px;
        }
        
        #controls-carousel .sliderBtn {
            color: var(--sliderBtnColor);
            font-size: 35px;
        }
        
        .head-text-img h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            color: var(--text-color);
        }
        
        .head-text-img h2 span {
            font-weight: 500;
        }
        
        .head-text-img p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: var(--text-color2);
        }
        
        #controls-carousel .item-about h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: var(--text-color);
        }
        
        #controls-carousel .item-about {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            padding: 0 10px;
        }
        
        #controls-carousel .item-about .item-container {
            width: 1000px;
            display: flex;
            align-items: center;
            gap: 25px;
            justify-content: space-around;
            flex-wrap: wrap;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 15px;
            padding: 8px;
        }
        
        #controls-carousel .item-about h3 span {
            font-weight: 600;
        }
        
        #controls-carousel .item-about button {
            width: 183px;
            height: 42px;
            background: var(--sliderBtnColor);
            border-radius: 12px;
            color: var(--text-color);
            transition: all .3s ease;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        
        #controls-carousel .item-about button:hover {
            background: var(--btnHoverColor);
        }
        /*preparations*/
        
        #preparations {
            padding-top: 103px;
        }
        
        #preparations .head {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: var(--text-color);
            text-align: center;
        }
        
        .slide-container {
            max-width: 1120px;
            width: 100%;
            padding: 40px 0;
        }
        
        .slide-content {
            margin: 0 40px;
            overflow: hidden;
            border-radius: 25px;
        }
        
        .image-content,
        .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 14px;
        }
        
        .image-content {
            position: relative;
            row-gap: 5px;
            padding: 25px 0;
        }
        
        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #4070F4;
            border-radius: 25px 25px 0 25px;
        }
        
        .overlay::before,
        .overlay::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -40px;
            height: 40px;
            width: 40px;
            background-color: #4070F4;
        }
        
        .overlay::after {
            border-radius: 0 25px 0 0;
            background-color: #FFF;
        }
        
        .card-image {
            position: relative;
            width: 256px;
            height: 320px;
            border-radius: 50%;
            padding: 3px;
        }
        
        .card-image .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        
        .name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            color: var(--text-color3);
        }
        
        .description {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: var(--text-color3);
        }
        
        .button:hover {
            background: #265DF2;
        }
        
        .swiper-navBtn {
            color: var(--text-color);
            transition: color 0.3s ease;
        }
        
        .swiper-navBtn:hover {
            color: #4070F4;
        }
        
        .swiper-navBtn::before,
        .swiper-navBtn::after {
            font-size: 35px;
        }
        
        .swiper-button-next {
            right: 0;
        }
        
        .swiper-button-prev {
            left: 0;
        }
        
        .swiper-pagination-bullet {
            background-color: #6E93f7;
            opacity: 1;
        }
        
        .swiper-pagination-bullet-active {
            background-color: #4070F4;
        }
        /*about*/
        
        #about {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
        }
        
        #about .container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
        }
        
        #about .container .about-video {
            flex-basis: 50%;
        }
        
        #about .container .about-video video {
            width: 100%;
            border-radius: 10px;
        }
        
        #about .container .about-text {
            flex-basis: 50%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
        
        .container .about-text .about-head {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 27px;
            color: var(--text-color);
        }
        
        .container .about-text p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: var(--text-color2);
        }
        
        .about-btn {
            background-color: var(--sliderBtnColor);
            color: var(--btnHoverColor);
            width: 100px;
            height: 45px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            transition: all .3s ease;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        
        .about-btn:hover {
            background-color: var(--btnHoverColor);
            color: var(--text-color2);
        }
        /* Slick Slider */
        
        .slick-prev,
        .slick-next {
            position: absolute;
            top: 135%;
            font-size: 1.8rem;
        }
        
        .partner-head h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: var(--text-color);
            text-align: center;
            padding: 40px 0;
        }
        
        .slick-prev {
            left: 0;
        }
        
        .slick-next {
            right: 0;
        }
        
        .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }
        
        .slick-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        
        .slick-list:focus {
            outline: none;
        }
        
        .slick-list.dragging {
            cursor: pointer;
            cursor: hand;
        }
        
        .slick-slider .slick-track,
        .slick-slider .slick-list {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        
        .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
        }
        
        .slick-track:before,
        .slick-track:after {
            display: table;
            content: '';
        }
        
        .slick-track:after {
            clear: both;
        }
        
        .slick-loading .slick-track {
            visibility: hidden;
        }
        
        .slick-slide {
            display: none;
            float: left;
            height: 100%;
            min-height: 1px;
        }
        
        [dir='rtl'] .slick-slide {
            float: right;
        }
        
        .slick-slide img {
            display: block;
        }
        
        .slick-slide.slick-loading img {
            display: none;
        }
        
        .slick-slide.dragging img {
            pointer-events: none;
        }
        
        .slick-initialized .slick-slide {
            display: block;
        }
        
        .slick-loading .slick-slide {
            visibility: hidden;
        }
        
        .slick-vertical .slick-slide {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
        
        .slick-arrow.slick-hidden {
            display: none;
        }
        
        .slide {
            transition: filter .4s;
            margin: 0 40px;
        }
        
        .trigger .fas {
            color: var(--text-color2);
            cursor: pointer;
            z-index: 2;
        }
        
        .slick-track {
            width: 100%;
            display: flex !important;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
        }
        
        .slick-prev {
            left: 0;
        }
        
        .slick-prev,
        .slick-next {
            position: absolute;
            top: 35%;
            font-size: 1.8rem;
        }
        
        .section {
            max-width: 1200px;
            margin: 0 auto;
        }
        
        @media screen and (max-width: 600px) {
            .head-text-img h2 {
                font-size: 35px;
            }
            .head-text-img p {
                font-size: 16px;
            }
            #controls-carousel .item-about h3 {
                font-size: 18px;
            }
        }
        
        @media screen and (max-width: 768px) {
            .slide-content {
                margin: 0 10px;
            }
            .swiper-navBtn {
                display: none;
            }
        }
        
        @media (max-width: 1331px) {
            #about .container {
                flex-direction: column-reverse;
                padding: 0 25px;
            }
            #about .container .about-video {
                flex-basis: 100%;
            }
            #about .container .about-text {
                flex-basis: 100%;
                padding: 0 0;
                margin-bottom: 25px;
            }
        }
        
        @media (max-width: 1049px) {
            .relative {
                width: 100%;
                height: 1000px;
            }
        }